@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    padding: 0;
    margin: 0;
    background-color: rgb(191, 220, 248); 
    font-family: 'Times New Roman', Times, serif;

}

.main-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    
    }
    .navbar{
       
        width: 100%;
        display: flex;
       justify-content: space-between;
       font-family: "PT Sans", sans-serif;
       align-items: center;
       background-color: rgb(191, 220, 248);
       border-bottom: 1px solid #c0bebe;
    }
    .navbar h1 {
        color: #242323;
        letter-spacing: 1px;
        line-height: 2rem;
        margin-left: 5px;
    }
    .navbar_second_section{
        display: flex;
        gap: 5rem;
        align-items: center;
        justify-content: center;
        width: 70%;
    }
   
    .navbar_second_section ul{
        display: flex;
        gap: 5rem;
    }
    .navbar_second_section ul li {
        list-style: none;
        
    }
    .navbar_second_section ul li a {
        color: #242323;
        text-decoration: none;
    }
    .navbar_second_section>a{
        text-decoration: none;
        font-size: 2.5rem;
        color: #fff;
        margin-right: 10px;
        display: flex;
        align-items: center;
    }
    .navbar_second_section a button{
        width: 6rem;
        height: 2rem;
        border-radius: 5px;
        outline: none;
        border: none;
        box-shadow: 1px 1px 5px 3px #fff;
        background-color: rgb(214, 211, 14);
        cursor: pointer;
    }

     /*toggle nav bar*/
     /* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: rgb(191, 220, 248);
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    
  }
  .topnav #myLinks a{
    color: #242323;
  }
 .show{
    display: flex;
    flex-direction: column;
    align-items: end;
 }
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav .icon {
    background: rgb(191, 220, 248);
    display: block;
    position: absolute;
    right: 2px;
    top: 5px;
    color: #000;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: rgb(27, 27, 27);
    color: white;
    border-bottom: 1px solid #c0bebe;
  }
  /* toggle navbar style end */
  @media screen and (min-width: 701px) {
    .topnav{
        display: none;
    }
}
    @media screen and (max-width: 960px) {
        .navbar_second_section{
            
            gap: 2rem;
            width: 70%;
            
        }
        .navbar_second_section ul{
           
            gap: 2rem;
        }
        
    @media screen and (max-width: 700px) {
        .navbar{
            display: none;
        }
        .topnav{
            display: block;
        }
        .web_developer_main{
            margin-top: 20rem;
        }
    }
    }
.web_developer_main{
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "PT Sans", sans-serif;
    height: 600px;
    
}
.web_developer{
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    position: relative;
    
}
.photo_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
}
.web_developer img{
    width: 550px;
    height: 550px;
    position: absolute;
    bottom: 0px; 
    right: 2; 
}

.pic_background{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgb(207, 204, 25);
    box-shadow: 0 0 5px 8px #f6f4f4;
    outline: 1px solid rgb(224, 222, 222);
    margin: auto;
    position: absolute;
    bottom: 100px; 
    right: 2; 
    z-index: -10;
}

.web_developer_details{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.web_developer_details p{
    color: #242323;
    font-size: 1.5rem;
   
   
}
.web_developer_details .hello{
    font-size: 2rem;
   
}
.web_developer_details .name{
    font-size: 4.2rem;
    color: blue;
}

.web_developer_details .hire_btn_section{
    display: flex;
    gap: 1.5rem;
    align-items: end;

}
.web_developer_details .hire_btn_section .btn_hire{
    width: 6rem;
    height: 2rem;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 1px 1px 5px 3px #fff;
    background-color: rgb(214, 211, 14);
    cursor: pointer;
}
.web_developer_details .hire_btn_section a{
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .web_developer_main{
        width: 100%;
        height: 100vh;
        margin-top: 20rem;
        flex-wrap: wrap-reverse;
        align-items: center;
        padding-bottom: 2rem;
    }
    .web_developer{
        width: 100%;
        height: 50vh;
    }
    .photo_container{
        width: 100%;
        height: 100vh;
    }
    .web_developer img{
        width: 85%;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
       
    }
    .pic_background{
        width: 40%;
        height: 300px;
       position: static;
       margin: auto;
       margin-top: 13rem;
    }
    .web_developer_details{
        width: 100%;
        height: 50vh;
        margin-top: 2rem;
        margin-bottom: 2rem;
        
    }
    .web_developer_details p{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 0;
    }
    .hello{
        margin: 0;
    }
    .hire_btn_section{
        margin-top: 2rem;
    }
  }
  @media screen and (max-width: 506px){
    .web_developer_main{
        
        height: 150vh;
        margin-top: 12rem;
        justify-content: center;
        gap: 0px;
    }
    .web_developer{
        width: 100%;
        height: 50vh;
        margin-top: 5px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .web_developer_details{
 
        margin-top: 1px;
        margin-bottom: 2rem;
        
    }
    
    .web_developer_details .name{
        font-size: 2.5rem;
        
    }
  }
.container_for_heading{
    background-color: #fff;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.container_for_heading .expertise{
    margin-top: 5rem;
    text-align: center;
    color: #000;
    font-size: 1.5rem;
}
.container_for_heading .expertise span{
    font-size: 2.5rem;
}
.container_for_heading .skills_section{
    width: 85%;
    background-color: rgb(191, 220, 248);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    border-radius: 10px;
    padding-top: 6rem;
    padding-bottom: 6rem;
    border: 1px solid #c0bebe;
    box-shadow: 2px 2px 5px 2px #b3b2b2;
}
.container_for_heading .skills_section .html{
    width: 370px;
    display: flex;
    
    align-items: center;
    justify-content: center;
    background-color: rgb(105, 105, 104);
    border-radius: 5px;
    gap: 2rem;
}
.container_for_heading .skills_section .html h1{
    font-size: 4rem;
    text-align: center;
    line-height: 1rem;
}
.container_for_heading .skills_section .html h1 span{
    font-size: 2.5rem;
}

.container_for_heading .skills_section .html .progress-bar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(
      #3498db var(--progress),
      transparent var(--progress)
    );
    transform: rotate(0deg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
.container_for_heading .skills_section .html .percentage {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
  }
.container_for_heading .skills_section .html .percentage_boots{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
  }
.container_for_heading .skills_section .html  .percentage_js{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
  }
  .progress-bar::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: rgb(105, 105, 104);
    top: 10%;
    left: 10%;
    color: #fff;
  }
  @media screen and (max-width: 426px){
    .container_for_heading .expertise span{
    font-size: 2.3rem;
}
.container_for_heading .skills_section{
    width: 92%;
}
  } 
  @media screen and (max-width: 350px) {
    
    .html{
        width: 85%px;
       
  }
  .html h1{
    font-size: 4rem;
    text-align: center;
    line-height: 1rem;
}
.html h1 span{
    font-size: 1.5rem;
    font-weight: 100;
}
.progress-bar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
   
  }
}

.portfolio_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
  .portfolio_section{
    width: 100%;
    background-color: #f8f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
   
   
  }
  .portfolio_heading{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
   
  }
  .portfolio_heading p{
    text-align: center;
    color: #000;
    font-size: 1.5rem;
    text-shadow: 1px 1px rgb(214, 211, 14);
  }
  .portfolio_heading p span{
    font-size: 2.3rem;
    text-shadow: 1px 1px #f7fb1d;
    color: #000;
  }
.portfolio_show{
    width: 100%;
    background-color: rgb(68, 68, 67);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
   
}
.three_website_control{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contnt_manage, .contnt_manage_second{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
    gap: 2rem;
}
.contect_div{
    width: 250px;
   background-color: rgb(227, 253, 253, 0.5);
   border-radius: 10px;
   padding: 0.5rem;
   box-shadow: 2px 5px rgb(254, 232, 232);
   
}
.contect_div>a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    margin-bottom: 0.8rem;
    cursor: pointer;
    
}
.contect_div>a>img{
    width: 245px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(214, 211, 14);
}
.contect_div h1 a {
 text-decoration: none;
 color: #0b0a0a;
}
.contect_div p{
    color: #0b0a0a;
}
.contect_div a .visit_to_site{
    width: 12rem;
    height: 2rem;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 1px 1px 5px 3px #fff;
    background-color: rgb(214, 211, 14);
    cursor: pointer;
    font-size: 1rem;
}


.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
.reveal_tow{
    position: relative;
    opacity: 0;
}
.reveal_tow.active_tow{
    opacity: 1;
}

.active_tow.fade-left {
    animation: fade-left 1s ease-in;
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @media screen and (max-width: 350px) {
    .contect_div{
        width: 85%;
    }
  }

  /*design testimonial section */
  .testimonial{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5rem;
    padding-bottom: 5rem;
  }

  /* testimonial image section */

  .testimonial_costumers_images{
    width: 50%;
    height: 100%;
    position: relative;
  }
.testimonial_costumers_images .first_img{
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 18%;
}
.testimonial_costumers_images .second_img{
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 45%;
}
.testimonial_costumers_images .third_img{
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 75%;
    left: 45%;
}
.testimonial_costumers_images .fourth_img{
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 65%;
}

/* testimonial comment section */

.testimonial_comments{
    width: 50%;
    color: #484747;
    font-size: 1.2rem;
    line-height: 1.5rem;
    word-spacing: 10px;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
}
.testimonial_comments span{
    line-height: 0px;
}
.testimonial_comments h1 {
    color: blue;
    line-height: 1rem;
}
.testimonial_comments p {
   width: 80%;
}
.testimonial_comments  .arrow_btn{
    display: flex;
    gap: 10px;
    
}
.testimonial_comments  .arrow_btn span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(214, 211, 14);
    color: #000;
}
@media screen and (max-width: 786px) {
    .testimonial{
       flex-direction: column;
       align-items: space-between;
       height: 100vh;
      }
      .testimonial_costumers_images{
        width: 100%;
        height: 50vh;
        padding-bottom: 15rem;
        position: relative;
       margin-top: 0px;
        
      }
      .testimonial_costumers_images .first_img{
        width: 60px;
        border-radius: 50%;
        position: absolute;
        top: 2%;
        left: 50%;
    }
    .testimonial_costumers_images .second_img{
        width: 60px;
        border-radius: 50%;
        position: absolute;
        top: 10%;
        left: 20%;
    }
    .testimonial_costumers_images .third_img{
        width: 60px;
        border-radius: 50%;
        position: absolute;
        top: 40%;
        left: 65%;
    }
    .testimonial_costumers_images .fourth_img{
        width: 60px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 35%;
    }
    .testimonial_comments{
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
    line-height: 1.2rem;
    word-spacing: 10px;
    letter-spacing: 1px;
        
    }
    .testimonial_comments h1{
        
        text-align: center;
        line-height: 2rem;
    }
    .testimonial_comments p{
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .arrow_btn{
        margin-top: 2rem;
    }
}

@media screen and (max-width: 426px) {
    .testimonial{
       height: 150vh;
      }
      .testimonial_costumers_images{
        width: 100%;
        height: 30vh;
        padding-bottom: 15rem;
        position: relative;
       margin-top: 0px;
        
      }
      .testimonial_costumers_images .first_img{
        width: 60px;
        border-radius: 50%;
        position: absolute;
        top: 2%;
        left: 50%;
    }
    .testimonial_costumers_images .second_img{
        width: 60px;
        border-radius: 50%;
        position: absolute;
        top: 10%;
        left: 20%;
    }
    .testimonial_costumers_images .third_img{
        width: 60px;
        border-radius: 50%;
        position: absolute;
        top: 40%;
        left: 65%;
    }
    .testimonial_costumers_images .fourth_img{
        width: 60px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 35%;
    }
    .testimonial_comments{
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
    line-height: 1.2rem;
    word-spacing: 10px;
    letter-spacing: 1px;
        
    }
    .testimonial_comments h1{
        
        text-align: center;
        line-height: 2rem;
    }
    .testimonial_comments p{
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .arrow_btn{
        margin-top: 2rem;
    }
}

/* contact section*/

.contact_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 3rem;
}
.get_in_touch{
    margin-top: 2rem;
}
.get_in_touch p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    font-size: 1.5rem;
    
}
.get_in_touch p .any_question{
    font-size: 3rem;
}
.form_section{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}
.contact_methods{
    width: 20%;
    background-color: blue;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 1px 1px 5px 2px rgb(214, 211, 14);
}
.contact_methods .email, .whatsapp{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.contact_methods .email h1, .whatsapp h1{
 color: rgb(214, 211, 14);
}
.contact_methods .email a, .whatsapp a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    cursor: pointer;

}
.form_for_questions{
    width: 40%;
    display: flex;
    flex-direction: column;
   
    justify-content: space-between;
}
.form_for_questions form{
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
    justify-content: center;
    
}
.form_for_questions form input{
    width: 15rem;
    min-height: 1.5rem;
    box-shadow: 0px 0px 5px 5px #363636;
    border-radius: 5px;
}
.form_for_questions form input::placeholder{
    padding-left: 10px;
}
.form_for_questions form textarea{
    width: 32.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px #363636;
    overflow: hidden;
    outline: none;
}
.form_for_questions form textarea::placeholder{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 1rem;
}
.form_for_questions button {
    margin-top: 2rem;
    margin-left: 2.2rem;
    width: 6rem;
    height: 2rem;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 1px 1px 5px 3px #fff;
    background-color: rgb(214, 211, 14);
    cursor: pointer;
}
@media screen and (max-width: 1024px) {
    .contact_methods{
        width: 25%;
        
    }
    .form_for_questions{
        width: 45%;
    }
    .form_for_questions form input{
        width: 10rem;
       
    }
    .form_for_questions form textarea{
        width: 23rem;
    }
}
@media screen and (max-width: 768px) {
    .form_section{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    }
    .contact_methods{
        width: 80%;
        display: flex;
        gap: 2rem;
    }
    .form_for_questions{
        width: 80%;
        gap: 2rem;
    }
    .form_for_questions form input{
        width: 15rem;
       
    }
    .form_for_questions form textarea{
        width: 33rem;
    }
}

@media screen and (max-width: 425px) {
    .get_in_touch p {
        
        text-align: center;
        
    }
    
    .form_section{
        
        gap: 2.5rem;
        }
   
    .contact_methods{
        width: 60%;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        gap: 1rem;
    }
    .form_for_questions{
        width: 80%;
        gap: 2rem;
    }
    .form_for_questions form input{
        width: 15rem;
       
    }
    .form_for_questions form textarea{
        width: 15rem;
    }
    
}
@media screen and (max-width: 320px) {
    
    .contact_methods .email a  {
     max-width: 5rem;
        font-size: 13px;
    }
    .contact_methods .email a span {
        
           font-size: 1rem;
       }
}
/* footer section */
.footer{
    width: 100%;
    background-color: rgb(68, 68, 67);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .footer_logo{
    color: #ddd;
    margin-top: 3rem;
}
.footer .footer_links ul {
display: flex;
gap: 1rem;

}
.footer .footer_links ul li{
    list-style: none;
    padding-right: 1rem;
    border-right: 1px solid #ddd;
}
.footer .footer_links ul li a{
    text-decoration: none;
    color: #ddd;
}
.footer .social_icon{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.footer .social_icon a{
    font-size: 1.5rem;
    color: #ddd;
}
@media screen and (max-width: 426px){
    .footer .footer_links ul {
        flex-wrap: wrap;
        
        }
}