body{
  background-color: rgb(101, 101, 253);
}
.container{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
   
}
.main_post{
    width: 400px;
    border: 1px solid gray;
display: flex;
flex-direction: column;
margin-top: 1rem;
background-color: #fff;

}
.create_post{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px;
    gap: 100px;
    border-bottom: 1px solid gray;
}
.create_post>button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(211, 209, 209);
    border: none;
    font-size: 1.5rem;
    color: gray;
}
.name_image{
    display: flex;
    gap: 5px;
    margin-top: 8px;
    padding-left: 5px;
    align-items: center;
}
 .div_img {
   margin-top: 5px;
} 
.div_img>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 10px;
}
.name>h5{
    line-height: 0px;
    font-size: 1rem;
}
.name>div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2.5px;
    width: 5.5rem;
    height: 1.5rem;
    background-color: rgb(208, 207, 207);
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}
#writePost{
    border: none;
    margin-top: 5px;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 10px;
    padding-top: 10px;
    outline: none;
    overflow: hidden;
    resize: none;
}
#writePost:focus {
    border: none;
  }
  .text_bold>ul{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 0;
  margin-bottom: 5px;
  }
  .text_bold>ul>li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-weight: bold;
    font-size: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(154, 155, 155);
  }
  .color_section{
    display: flex;
    align-items: center;
    margin-top: 4px;
    justify-content: space-between;
    gap: 3px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
  }
  .color_section>div>img{
    width: 50px;
    height: 40px;
    border-radius: 16%;
    cursor: pointer;
  }
  
  .color_section>div>input{
    width: 50px;
    height: 40px;
    border-radius: 16%;
    margin: 0;
    cursor: pointer;
  }
  .color_section>div>button{
    width: 50px;
    height: 40px;
    border-radius: 16%;
    margin: 0;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .emojis2{
    display: none;
  }
  .emojis{
    display: block;
 width: 200px;
 border: 1px solid gray;
 padding: 2px;
 background-color: rgb(216, 214, 214, 0.5);
 position: absolute;
 bottom: 0;
 right: 2px;
  }
  .emojis>ul{
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    
  }
  .emojis>ul>li{
    list-style: none;
    font-size: 1.5rem;
    cursor: pointer;
    
  }
  .post_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: rgb(74, 74, 254);
    border-radius: 10px;
    color: #fff;
    
  }